[Desktop Entry]
Type=Application
Name=Minecraft
Icon=com.mojang.Minecraft
Exec=minecraft-wrapper
Categories=Game;
StartupWMClass=net-minecraft-bootstrap-Bootstrap
