[Desktop Entry]
Type=Application
Name=Minecraft: Java Edition
Icon=com.mojang.Minecraft
Exec=minecraft
Categories=Game;
StartupWMClass=net-minecraft-bootstrap-Bootstrap
