[Desktop Entry]
Type=Application
Name=Minecraft Launcher
Comment=Official Minecraft Launcher
Icon=com.mojang.Minecraft
Exec=minecraft
Categories=Game;Application;
Terminal=false
StartupWMClass=minecraft-launcher
PrefersNonDefaultGPU=true
